<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/css/style.css" />
    <style>

        #serch{
          margin: 15px 25px 15px 15px;
          padding:10px 10px 10px 10px;
        }
        #text-box{
          margin: 50px 25px 15px 15px;
          padding:30px 10px 10px 10px;
        }
    </style>
</head>

<body>
    <div class="flexbox">
        <div class="search">
        <h1>대한민국 알리미</h1>
        <h3>Click on search icon, then type your keyword.</h3>
            <div>    
             <input type="text" placeholder="Search . . ." required>
            </div>        
        </div>
        
        <div class="text-box" data-maxlength="250"> 
        <p>독도는 우리 땅</p>
        </div>
    </div>



</body>


</html>